.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
  }

  .slidesection {
    height: 107vh;
  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
  }
  .card{
    border-radius: 25px;
    max-width: 30rem;
    box-shadow: var(--shadow);
  }
  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
  }
  .image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }
  .overlay-swiper{
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primary);
    border-radius: 25px 25px 0 25px;
  }


  .overlay-swiper::before,
  .overlay-swiper::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: var(--primary);
  }
  .overlay-swiper::after{
    border-radius: 0 25px 0 0;
    background-color: var(--bg);
  }
  .card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
  }
  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--primary);
  }
  .name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
  }
  .description{
    font-size: 14px;
    color: #707070;
    text-align: center;
  }
  .button{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: var(--primary);
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button:hover{
    background: #265DF2;
  }

  .swiper-slide {
    cursor: grab;
  }
  .swiper-navBtn{
    color: #6E93f7;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color: var(--primary);
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination-bullet{
    background-color: #6E93f7;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: var(--primary);
  }

  .des .devparag {
    position: relative;
    width: 80%;
  }

  .des .devparag .designbar {
    position: absolute;
    right: -2rem;
    top: -5rem;
  }
  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }
  .swiper {
    width: 60%;
    height: 60%;
    align-items: center;
  }

 
  
  .swiper-slide {
  
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
  }

  .swiper-slide svg {
    color: yellow;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .swiper-button-prev, .swiper-button-next {
    color: var(--primary) !important;
  }

  .servicesslider  .swiper-button-prev {
    left: 0;
  }
  .servicesslider  .swiper-button-next {
    right: 0;
  }

  .servicesslider .swiper-slide.swiper-slide-active {
    color: white;
    background: var(--primary);
    padding: 7px 2rem;
    font-weight: 700;
    border-radius: 7px
  }

  .servicesslider .swiper-wrapper {
    align-items: center;
  }

  .servicesslider .secbox {
    height: fit-content !important;
  }
  